<form class="post-form">
    <div class="mb-3">
        <input type="text" class="form-control" id="post-title" placeholder="title of post goes here">
        <textarea class="form-control" id="contents" rows="3"placeholder="type post here"></textarea>
    </div>
    <button>Submit</button>
</form>
{{#each Posts}}
<h1>{{post_title}}</h1>
<p>{{contents}}</p>
{{/each}}
<script src="./js/addPost"></script>