<h1>Please login!</h1>

<form id="login-form">
    <input type="text" id="email" placeholder="email">
    <input type="password" id="password" placeholder="password">
    <button>login!</button>
    <br>
    <a href="/signup">Not a member yet? Signup here!</a>
</form>

<script src="/js/login.js"></script>